<section class="hero">
    <div class="hero-content herowrapper">
        <p class="txt2">Hello there <span>👋</span></p>
        <h1 class="txt1">
            I'm <a class="name" href="{{site.baseurl}}/#about">Vadivelan Murugesan</a>, a robotics engineer passionate about creating intelligent systems that bridge software and hardware to solve real-world challenges.
        </h1>
        <br>
        <br>
       <p class="txt6" style="font-size: 110%;">
  Robotics Engineer | Gen Auto AI Intern | Research Scientist @ NYU ASAS Lab | Former Robotics Engineer @ Surinova
</p>
        <div class="drop-down">
            <a href="#about" class="see-more" aria-label="See more">
                <svg width="30" height="18" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M25.86 1.14a.479.479 0 0 0-.679 0l-11.68 11.7L1.818 1.14a.479.479 0 1 0-.678.68l12.02 12.04a.479.479 0 0 0 .678 0L25.86 1.82a.48.48 0 0 0 0-.68z"
                        fill="#FFF" fill-rule="nonzero" stroke="#000" stroke-width="2" opacity=".9" />
                </svg>
            </a>
        </div>
    </div>
</section>
